html, body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    text-align: center;
}

h1, h2 {
    color: rgb(0, 100, 200);
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    background-color: rgb(0, 100, 200);
    overflow: hidden;
}

nav ul{
    display: flex;
    align-items: center;
}

nav li {
    display: inline;
    padding-right: 5vw;
    color: rgb(255, 255, 255);
}

nav a:hover {
    color: rgb(255, 165, 0);
}

#banner {
    position: relative;
    height: 10vh;
    padding: 25vw 0;
    background: url('images/turner-fenton-secondary-school.jpg') center center no-repeat;
    background-size: cover;
}

#banner:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 100, 200, 0.5);
}

#banner * {
    position: absolute;
}

#hook {
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 0;
    font-size: 3em;
}

#caption {
    position: relative;
    text-align: center;
    margin: 30px;
    padding: 0;
}

#description {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    width: 40vw;
    display: block;
    line-height: 2.5;
    margin: 40px 40px 30px 30vw;
    text-align: justify;
}

.link-in-text {
    color: rgb(0, 100, 200);
}

footer {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 100, 200);
    height: 64px;
    overflow: hidden;
    text-align: center;
    margin-top: 50px;
    padding-top: 12px;
}

.full-maps {
    overflow: hidden;
    width: 100%;
}

.full-maps h1, .full-maps h2 {
    text-align: center;
    color: rgb(0, 100, 200);
}

.full-maps img {
    align-items: center;
    width: 100%;
}

table, th, td {
    border: 1px solid;
}

table {
    border-collapse: collapse;
    width: 60%;
    text-align: center;
    margin: 20px 20vw;
    line-height: 4;
}

table a {
    color: rgb(0, 100, 200);
}
